<h2>➕ Thêm quán</h2>

<form method="post">

    <input name="Name" placeholder="Tên quán" class="form-control mb-2" />

    <textarea name="Description" placeholder="Mô tả" class="form-control mb-2"></textarea>

    <button class="btn btn-success">Lưu</button>

</form>