<h2>ąang k² ch? qußn</h2>

<form method="post" action="/admin/auth/register-owner">
    <input name="username" placeholder="TĻn dang nh?p" required />
    <br><br>
    <input type="password" name="password" placeholder="M?t kh?u" required />
    <br><br>
    <button type="submit">ąang k²</button>
</form>
