<h2>–„ng k? ch? qu·n</h2>

<form method="post" action="/admin/auth/register-owner">
    <input name="username" placeholder="TÍn dang nh?p" required />
    <br><br>
    <input type="password" name="password" placeholder="M?t kh?u" required />
    <br><br>
    <button type="submit">–„ng k?</button>
</form>
