@model List<POI>

<h2>? Quán dă duy?t</h2>

<table class="table table-bordered">
    <tr>
        <th>Tęn quán</th>
        <th>Tr?ng thái</th>
    </tr>

    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Name</td>
            <td>
                <span class="badge bg-success">Approved</span>
            </td>
        </tr>
    }
</table>
