@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Qu?n lý nhŕ hŕng";
}

<a href="/POIs/Create" class="btn btn-primary mb-3">+ Thęm quán</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tęn quán</th>
            <th>Đ?a ch?</th>
            <th>Tr?ng thái</th>
            <th>Thao tác</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>?c Vinh Khánh</td>
            <td>Qu?n 4</td>
            <td><span class="badge bg-success">Đă duy?t</span></td>
            <td>
                <a class="btn btn-sm btn-warning">Edit</a>
                <a class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
